<h2>Welcome to Book Converter</h2>

<%= form_tag({controller: 'book', action: :create}, multipart: true) do %>
  <%= file_field_tag 'book' %>
  <%= submit_tag 'Upload book' %>
<% end %>

<% if @book_to_show %>
  <%= link_to @book_to_show, @book_path %>
<% end %>
<br>
<%= image_tag('http://media.giphy.com/media/11uHTWoncYKlgY/giphy.gif') %>

<h6>
  The time is: <%= Time.now %>
</h6>